body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-responsive-modal-modal {
  width: 25% !important;
  overflow-y: unset;
}

.react-responsive-modal-closeButton {
  display: none !important;
}

.custom-bg {
  background-color: #d6d7d7;
}

.custom-bg p {
  font-size: 14px;
}
